* {
    box-sizing: border-box;
}

body {
    background-color: #1BAB49;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    margin: 0;
    padding: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #1BAB49;
}

header {
    background-color: #EDDA34;
    background-image: url('./img/header-image.jpg');
    background-position: bottom;
    background-size: cover;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    color: #FFFFFF;
}

h1, h3 {
    font-family: 'Permanent Marker', cursive;
}

h1 {
    padding: 0 20px;
}

h3 {
    padding: 0 0 10px 0;
    margin: 0;
}

article, main {
    margin: 40px auto;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
}

article {
    width: 80%;
}

main {
    width: 100%;
}

a {
    text-decoration: none;
    color: #F77913;
}

button {
    background-color: #F77913;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    text-transform: uppercase;
    outline-style: none;
}

button:hover {
    cursor: pointer;
}

button:active {
    color: #1BAB49;

}

@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
    }
}