* {
    box-sizing: border-box;
}

body {
    background-color: #1BAB49;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    margin: 0;
    padding: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #1BAB49;
}

.ingredient {
    border-radius: 15px;
    box-shadow: 2px 2px 3px rgba(30,30,30,0.4);
    background-color: #1BAB49;
    color: #FFFFFF;
    float: left;
    margin-top: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.ingredient input {
    margin-right: 5px;
}

.ingredients {
    overflow: auto;
}

.ingredients div {
    float: left;
    padding: 5px;
}

header {
    background-color: #EDDA34;
    background-image: url('./img/header-image.jpg');
    background-position: bottom;
    background-size: cover;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    color: #FFFFFF;
}

h1, h3, h4 {
    font-family: 'Permanent Marker', cursive;
}

h1 {
    padding: 0 20px;
}

h3 {
    padding: 0 0 10px 0;
    margin: 0;
}

article, main, .back-button {
    margin: 40px auto;
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
}

.back-button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px 15px;
    padding: 10px;
}

article {
    width: 80%;
}

main {
    overflow: auto;
}

a {
    text-decoration: none;
    color: #F77913;
}

.recipe {
    width: 48%;
    overflow: auto;
    background-color: #FFFFFF;
    border: 1px solid #F77913;
    border-radius: 5px;
    padding: 10px;
    float: left;
    margin: 1%;
}

.recipe div {
    padding: 0 5px;
}

.recipe img {
    float: left;
    margin: 0 10px 10px 0;
}

.recipe a {
    display: block;
    margin: 15px 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.recipeHeading {
    overflow: auto;
}

.ingredients-list {
    color: #F77913;
}

.submit, .recipe a {
    background-color: #F77913;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    text-transform: uppercase;
    outline-style: none;
    margin-top: 10px;
    box-shadow: 2px 2px 3px rgba(30,30,30,0.4);
    text-align: center;
}
.submit:hover, .recipe a:hover {
    cursor: pointer;
}
.submit:active, .recipe a:active {
    color: #1BAB49;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
    }

    .recipe {
        width: 98%;
    }
}